html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

* {
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #FAFAFA;
    padding-left: 20px;
    padding-right: 20px;
}


  .traveler {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 39px;
    }
       


  h1{
    text-align: center;
    font-size: 28px;
    font-weight: 500; 
    
  }

  h1::after {
    content: '';
    display: block;
    background: #407BFF;
    width: 60px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    
  }

  h2{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #8B8B8B;
    
  }
  

  li{
    list-style: none;
    text-align: center;
    font-weight: 300;
  }

  .button {
    color: white;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .button1 {
    background-color: #407BFF;
    margin-top: 30px;
  }
  
  .button2 {
    background-color: #8B8B8B;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .advantages {
    list-style-type: none;
    padding: 0;
    margin: 0 10px 0 10px;
  }


  .advantages li {     
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    
  }


  .advantages li img {
    margin-right: 29px;
  }

  .advantages li p {
    text-align: left;
    font-size: 13px;
  }
.content p{
    margin-bottom: 28px;
}

.vlevo p{
    margin-top: 0px;
    margin-bottom: 0px;
}

 
    @media screen and (min-width: 640px) {
        body {
            padding-left: 0;
            padding-right: 0;
        }

        .traveler {
            margin-top: 60px;
            margin-bottom: 30px;
        }
        h1 {
        margin-top: 0px;
        }

        ul {
            display: flex;
        }

        .button1{
            padding-top: 11px;
            margin-top: 0px;
            margin-right: 20px;
            
        }

        .button2 {
            margin-top: 0%;
            
            
        }

        .button {
            align-items: center;
        }

        .container .advantages,
        .container2 .advantages {
            display: flex;
        }

        .container .advantages {
            order: -1;
        }

        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 30px;
            
        }
        
        .advantages li {
            flex-direction: column;
            margin: 10px;
            
        }

        .advantages li img{
            margin-right: 0px;
            
        
        }
        .advantages li p{
            text-align: center;
            margin-top: 20px;
        }
        .content p{
            display: block;
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
        }
        .vlevo p{
            display: block;
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
        }
        

    }
    

    @media screen and (min-width: 1100px) {
        body{
            margin-left: 81px;
            margin-right: 81px;
        }
        .traveler{
            margin-bottom: 0px;
        }
        .top {
            display: flex;
            align-items: center;
                   
        }

        .vlevo {
            order: -1;
            width: 50%;
            margin-top: 60px;
            margin-right: 94px;
        }

        .container,
        .container2 {
            display: flex;
            margin-top: 80px;
            flex: 1 1 auto;
        }

        h1,
        p,
        h2 {
           text-align: left;
           
    }


      .buttons {
         justify-content: left;
        
    }
    

      .vlevo p{
        margin-left: 0;
        margin-right: 0;
    }

     .container .content p {
        margin-left: 50px;
    }

     .container .content h2 {
        margin-left: 50px;
        
    }

     .container2 .content p {
        margin-right: 50px;
    }

      h1::after{
        margin-left: 0;
        margin-right: 0;
        
    }


    .container .advantages li {
        margin-bottom: 0;
    }

    .content{
        text-align: center;
        display: block;
        width: 430px;
        margin-left: auto;
        margin-right: auto;
      }

   .advantages {
        display: block;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
      }
      
    

    }   

    
   